.imprint {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.4rem;

  color: var(--color-secondary);
  text-align: left;
  line-height: 1.6;
}

.imprint h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 0.5rem;
}

.imprint h3 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 0.3rem;
}

.imprint p {
  margin: 0;
  font-size: 0.95rem;
}

.imprint strong {
  color: var(--color-primary);
}
