.profile-skincanvas {
  max-width: 250px;
  width: 100%;

  filter: drop-shadow(0 0 10px #000);
}

.profile-skinviewer button {
  background: var(--color-secondary);
  border: none;
  font-size: 30px;
  border-radius: 30px;
  cursor: pointer;
  padding: 5px 30px;
  font-family: "Squada One", cursive;
  transition: scale 0.3s ease-in-out;
}

.profile-skinviewer button:active {
  scale: 0.9;
}

.profile-skinviewer {
  background: var(--color-background-dark);

  flex-direction: column;

  gap: 20px;

  max-height: 540px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 0 10px #000000;
  padding: 20px;
}

@media (max-width: 700px) {
  .profile {
    flex-direction: column;
  }

  .profile-skinviewer {
    width: 100%;
    max-width: none;
    max-height: none;
  }
}

.profile {
  background: var(--color-background);
  padding: 20px;
  display: flex;
  gap: 20px;

  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.profile-stats {
  flex: 1;
  min-width: none;
}
