.home-content-section {
  width: 100%;
}

.home-content {
  background: var(--color-background);
  width: 100%;
  padding: 50px;
}

.home-info-boxes {
  margin: 0 auto;
  
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.home-main {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  margin-top: 100px;

  height: 50vh;
  gap: 50px;
  width: 100%;
}

.home {
  width: 100%;
}

.home-logo {
  display: flex;
  align-items: center;
  font-size: 80px;
}

.home-logo-svg {
  width: 90px;
}

@media (max-width: 700px) {
  .home-logo {
    font-size: 40px;
  }

  .home-logo-svg {
    width: 60px;
  }
}
