.searchbar {
  background: white;
  padding: 5px;
  z-index: 3;
  height: 60px;
  display: flex;
  max-width: 900px;
  width: 30%;
  border-radius: 100px;
  transition: width 0.3s ease-out;
}

.searchbar input {
  background: none;
  border: none;
  outline: none;
  flex: 1;
  min-width: 0;
  font-size: 20px;
  margin-left: 15px;
  color: black;
}

.searchbar button {
  background: #f76c5e;
  border: none;
  width: 30%;
  padding: 10px;
  max-width: 120px;
  font-size: 20px;
  font-family: "Squada One", cursive;
  border-radius: 100px;
  cursor: pointer;
}

.searchbar-holder {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchbar.sticky {
  position: fixed;
  top: 100px;
  width: 90%;
}

@media (max-width: 1200px) {
  .searchbar {
    width: 70%;
  }
}
