.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: calc(70px + env(safe-area-inset-top));
  padding-top: env(safe-area-inset-top);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  user-select: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  max-width: 100%;
  backdrop-filter: blur(10px);
}

.navbar-logo {
  position: absolute;
  left: 12px;
  font-size: 20px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  margin: 0;
  height: 100%;
  width: auto;
  cursor: pointer;
}

.navbar-logo-svg {
  width: 50px;
}

.navbar-links {
  position: relative;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: calc(100% - 24px - 24px);
  overflow-x: hidden;
}

.navbar-links > li {
  list-style: none;
}

.navbar-a {
  color: white;
  opacity: 0.7;
  font-size: 30px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.navbar-a:hover {
  cursor: pointer;
  color: #535bf2;
  opacity: 1;
}

.navbar-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
  border-radius: 10px;
  background: var(--color-secondary);
  transition: transform 0.3s ease, width 0.3s ease;
  z-index: 1;
  will-change: transform, width;
}

.navbar-burger-holder {
  display: none;
  position: absolute;
  right: 12px;
  font-size: 20px;
  margin: 0;
}

@media (max-width: 1000px) {
  .navbar-burger-holder {
    display: block;
  }

  .navbar-links {
    display: none;
  }
}

.navbar-burger {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  z-index: 4;
}

.navbar-burger span {
  display: block;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: center;
}

.navbar-burger.open span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.navbar-burger.open span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.navbar-slideout {
  position: fixed;
  transform: translateY(-110%);
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  background-color: var(--color-background);
  transition: transform 0.3s ease;

  display: flex;
  flex-direction: column;

  padding: 70px 20px 20px 20px;
}

.navbar-slideout.open {
  transform: none;
}
