.search-content-section {
  width: 100%;
}

.search-content {
  background: var(--color-background);
  width: 100%;
  height: 60vh;
}

.search-main {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.search {
  width: 100%;
}

.search-profile-holder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 150px 20px;
}

.search-nothing-found {
  color: var(--color-secondary);
  margin-bottom: 200px;
  margin-top: 200px;
}

.search-loading {
  margin-bottom: 200px;
  margin-top: 200px;
}
