.footer {
  background: var(--color-accent);
  padding: 30px;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-links {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.footer-a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-primary);
}

.footer-a:hover {
  text-decoration: underline;
}

.footer-copyright-text {
  opacity: 0.3;
}

@media (max-width: 400px) {
  .footer-links-p {
    display: none;
  }
}
