.info-box {
  background: var(--color-accent);
  padding: 0px 30px;
  width: 40%;
  max-width: 600px;

  min-height: 300px;
  border-radius: 15px;
  
}

.info-box h1{
  text-decoration: underline 3px var(--color-secondary);
}

@media (max-width: 1000px) {
  .info-box {
    width: 100%;
    
  }
  .info-box p{
    font-size: 15px;
  }
}

.info-box p {
  font-size: 20px;
}