:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --color-primary: #ffffff;
  --color-secondary: #f76c5e;
  --color-accent: #162a3d;
  --color-background: #061625;
  --color-background-dark: color-mix(
    in srgb,
    var(--color-background) 70%,
    black
  );

  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  scroll-behavior: smooth;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,h4,h5,h6 {
  color: var(--color-primary);
  font-family: "Squada One", cursive;
}

 p, a, button, label{
  color: var(--color-primary);
 }
