.background-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  animation: parallax linear;
  animation-timeline: scroll(root);
}

.background-holder > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* center perfectly */
  min-width: 100%;
  min-height: 100%;
  object-fit: cover; /* ensures it fills the screen */
}

@keyframes parallax {
  to {
    transform: translateY(-500px);
  }
}
