.background-holder {
  position: fixed;
  inset: 0;
  z-index: -100;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: parallax linear;
  animation-timeline: scroll(root);
  animation-range: 0 6000px;
}

.background-holder > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 175%;
  min-height: 175%;
  max-width: none;
}

@keyframes parallax {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(-70%);
  }
}
